.music-cozy-header {

  .header-container {
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .site-nav {

    ul.menu {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1em;

      li {
        list-style: none;
      }
    }
  }
}