.music-cozy-header {

  .header-container {
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .site-nav {

    a {
      text-decoration: none;
    }

    ul.menu {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1.5em;

      img.menu-icon {
        width: 20px;
      }  

      li {
        list-style: none;

        a {
          display: flex;
          gap: .4em;
          align-items: center;
          font-size: 1.1em;
        }
      }
    }
  }
}