.viewer-message {
  position: relative;
  margin-bottom: 3em;
}

.message-item {

  .heading-message {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .message-content {
    
  }
}