.viewer-message {
  position: relative;
  margin-bottom: 3em;

  .viewer-message__custom-dot {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.83em 0;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
  }
}

.message-item {

  .heading-message {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .message-content {
    
  }

  .message-bottom {
    text-align: right;
  }
}