@import url('https://fonts.googleapis.com/css2?family=Jost:ital@0;1&display=swap');
@import '../font/font.css';

.html, body {
  margin: 0;
  padding: 0;

  font-family: 'Warm Winter';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  color: white;
  line-height: 1.5em;
}

a {
  color: white;
}

.music-cozy-template-page {
  position: relative;

  .main-container {
    position: fixed;
    width: 580px;
    max-width: calc(100% - 10vw);
    bottom: 1em;
    left: 1em;
  }
}

.site-brand {
  // background: white;
  // color: black;
  text-decoration: none;
  display: inline-block;
  // padding: .5em;
}

.ss-heading {
  display: flex;
  align-items: center;
  gap: .5em;
}